<div class="background"> 

    <h1> Got an idea? Want me to Sketch it? Leave it here!  </h1>

    
    <mat-form-field>
            <input matInput placeholder="Enter Your Name Here"> 
        </mat-form-field>
        
        <mat-form-field>
                <textarea matInput placeholder="Enter Your Email Address Here"></textarea>
        </mat-form-field>
        
        <mat-form-field>
                <textarea matInput placeholder="Enter Your Idea Here"></textarea>
        </mat-form-field>

        <button mat-raised-button type="submit">Submit</button> 

        <br>
        <br> 

        <a href="Final_Project/InternetProgrammingFinal/src/index2.html" > Working PHP DB connect </a>
        
        <br>
        <br> 

        <a href="Final_Project/InternetProgrammingFinal/src/View.php" > view ideas </a>
        
</div>


