<mat-card class = "about-me"> 

    <mat-card-header>
        <div> 
        <mat-card-title>About Me </mat-card-title>
        <mat-card-subtitle> Pikat </mat-card-subtitle>
        
        <mat-card-content>
           <p> I’m a software engineer who plays video games and D&D in their free time. </p>
           <p>I also draw a lot of anime girls and bake bread. </p>   
           <p>I like to talk about making my own game a lot.</p> 
            

        </mat-card-content>
        </div>
        <img mat-card-image src = "https://i.imgur.com/igOnPCl.png " >
         
    </mat-card-header>

    <mat-card-actions>
            <button mat-button onclick =" window.open('https://twitter.com/pikatl','_blank')">  Twitter </button>
            <button mat-button onclick = " window.open('https://www.instagram.com/pikat.draw4fun/','_blank')"> Instagram </button>
     </mat-card-actions>


     <mat-card-footer>
         <p> (I took this from my friends website because I needed to fill the pages with something.) </p>
         <a href="https://www.pikat.io/"> Here is a link to her website </a> 
     </mat-card-footer>

</mat-card>




