.mat-button{
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 12%;
    background-color: black ;
    color: pink;
    
}

    .bgimg {
        display:block;
        width:100%;
        height:93.2%;
        background: url('https://i.imgur.com/ajCjJ24.png') no-repeat center center fixed ;
        background-size: cover;
        text-align: center;
        font-size: 50px;
        
      }
        
    .welcome-text{
        position: absolute;
        top: 40%;
        left: 10%;
        color: #FFD577;
        text-shadow: 5px 5px grey;
    }

    
.mat-toolbar{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    color: pink;
    font-size: larger;

 
}
.A{
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 1%;
    background-color: black ;
    color: pink;
    
}

    